<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/w3.css">
  </head>
  <body>
    <!-- espace d'affichage de messages  -->
    <div class="w3-row  w3-white w3-mobile"style="position: absolute;height:100%; width:100%;">
    <div class="w3-col w3-container m9 w3-light-grey w3-padding-16"style="position:relative;height:100%;">
      <div id="output" class="w3-white w3-border"  style="position:relative;height:75%; width:100%; margin: 0px auto 10px auto; overflow:auto;" >
      </div>
      <div class="w3-white" style="position:relative;height:10%; width:80%; margin: 0px auto 10px auto;">
          <input  id= "msg" class="w3-input w3-border w3-left-align" type="text"style="position:relative;height:100%;" >
      </div>

          <button  id="btn" type="submit" class="w3-button w3-block w3-large w3-teal w3-center" style="position:relative; width:50%; margin: auto;">Envoyer</button>
    </div>

    <div class="w3-col w3-container m3  w3-blue-grey" style="position:relative;height:100%;">

    </div>
  </div>
  <!--Find -->

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  let socket = io();
  const msg = document.getElementById('msg');
  const btn = document.getElementById('btn');
  const out = document.getElementById('output');
  //const user = document.getElementById('user');

btn.addEventListener('click', ()=>{
  socket.emit('chat', {
    message: msg.value
    //userName : user.value
  });
    msg.value = '';
});

   msg.addEventListener("click",()=>{
       let a = out.scrollHeight;
  console.log("Test réussit" + a);
       out.scrollTo(0, a);

  })

socket.on('chat', (data)=>{
  let message = data.message;
  let user = data.userName;
 let a = out.scrollHeight;
  out.innerHTML += '<p class= "w3-panel w3-card w3  w3-light-grey w3-round-small" style="width:70%;" > <strong>' + user + '</strong> : ' +  message + '</p>';
   out.scrollTo(0, a);
});
</script>
  </body>
</html>
