<!doctype html>
<html>

  <head>

      <meta charset="utf-8">
      <title> Ma page </title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="w3.css">

  </head>

  <body>
    <div class="w3-row  w3-white w3-mobile"style="position: absolute;height:100%; width:100%;">
    <div class="w3-col w3-container m9 w3-light-grey w3-padding-16"style="position:relative;height:100%;">
      <div id="output" class="w3-white w3-border"  style="position:relative;height:75%; width:100%; margin: 0px auto 10px auto;" >
      </div>
      <div class="w3-white" style="position:relative;height:10%; width:80%; margin: 0px auto 10px auto;">
          <textarea id="msg" class="w3-input w3-border w3-left-align" type="text"style="position:relative;height:100%;" ></textarea>
      </div>

          <button  type="submit" id="btn" class="w3-button w3-block w3-large w3-teal w3-center" style="position:relative; width:50%; margin: auto;">Envoyer</button>
    </div>

    <div class="w3-col w3-container m3  w3-light-grey" style="position:relative;height:100%; padding: 20px; overflow: auto;">
      <div class="w3-container w3-white" style="position: relative; height: 90%; padding: 20px; overflow: auto;">
          <a href="/logout">LogOut</a>
      <ul class="w3-ul w3-card-4 w3-white" style="width: 100%;">
    <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <div class="w3-bar-item ">
        <span class="w3-large">Mike</span><br>
        <span>Web Designer</span>
      </div>
    </li>
 <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <div class="w3-bar-item ">
        <span class="w3-large">Mike</span><br>
        <span>Web Designer</span>
      </div>
    </li> <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <div class="w3-bar-item ">
        <span class="w3-large">Mike</span><br>
        <span>Web Designer</span>
      </div>
    </li> <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <div class="w3-bar-item ">
        <span class="w3-large">Mike</span><br>
        <span>Web Designer</span>
      </div>
    </li> <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <div class="w3-bar-item ">
        <span class="w3-large">Mike</span><br>
        <span>Web Designer</span>
      </div>
    </li> <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <div class="w3-bar-item ">
        <span class="w3-large">Mike</span><br>
        <span>Web Designer</span>
      </div>
    </li> <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <div class="w3-bar-item ">
        <span class="w3-large">Mike</span><br>
        <span>Web Designer</span>
      </div>
    </li>
    <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <div class="w3-bar-item">
        <span class="w3-large">Jill</span><br>
        <span>Support</span>
      </div>
    </li>

    <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <div class="w3-bar-item">
        <span class="w3-large">Jane</span><br>
        <span>Accountant</span>
      </div>
    </li>
     <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <div class="w3-bar-item">
        <span class="w3-large">Jane</span><br>
        <span>Accountant</span>
      </div>
    </li> <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <div class="w3-bar-item">
        <span class="w3-large">Jane</span><br>
        <span>Accountant</span>
      </div>
    </li> <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <div class="w3-bar-item">
        <span class="w3-large">Jane</span><br>
        <span>Accountant</span>
      </div>
    </li> <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <div class="w3-bar-item">
        <span class="w3-large">Jane</span><br>
        <span>Accountant</span>
      </div>
    </li>
  </ul>

    </div>
</div>
  </div>
  </body>

</html>
